# Copyright 2025 The Secureblue Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

attribute config_home_type;

type config_home_t, config_home_type;
userdom_user_home_content(config_home_t);
userdom_user_home_content_filetrans(userdomain, config_home_t, dir, ".config");

type config_contents_home_t, config_home_type;
userdom_user_home_content(config_contents_home_t);
filetrans_pattern(userdomain, config_home_t, config_contents_home_t, any);

type dconf_config_home_t, config_home_type;
userdom_user_home_content(dconf_config_home_t);
filetrans_pattern(userdomain, cache_home_t, dconf_config_home_t, dir, "dconf");

type kde_config_home_t, config_home_type;
userdom_user_home_content(kde_config_home_t);
userdom_user_home_content_filetrans(userdomain, kde_config_home_t, dir, ".kde");

type xine_config_home_t, config_home_type;
userdom_user_home_content(xine_config_home_t);
userdom_user_home_content_filetrans(userdomain, xine_config_home_t, dir, ".xine");

type xdefaults_config_home_t, config_home_type;
userdom_user_home_content(xdefaults_config_home_t);
userdom_user_home_content_filetrans(userdomain, xdefaults_config_home_t, file, ".Xdefaults");
